* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body { margin: 0; padding: 0; height: 100%;}

body {
  font-family: 'Lato', sans-serif;
  color: #111;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

a:visited, a:link{
  color: inherit;
}

h1#profile-card-name, h2#profile-card-subtitle{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

ul#navbar {
  list-style-type: none;
  padding: 25px 0px 25px 0px;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

li.navbutton a, ul#navbar li#spacer{
  display: block;
  text-align: center;
  padding: 14px 16px;
  border-bottom: solid #ccc 1px;
}

li.navbutton a {
  float: left;
}

ul#navbar li#spacer {
  white-space: nowrap;
  overflow: hidden;
}

li.navbutton a{
  width: auto;
  height: auto;
  text-decoration: none;
  color: #777;
}

li.navbutton a:hover, li.navbutton a.current{

  border-bottom: solid #4180AB 4px;
  padding-bottom: 11px;

}

li.navbutton a:hover{
  color: #4180AB;
  transition: all .15s ease-in-out;
}

#profile-card-container{
  overflow:auto;
  margin: 10px auto 15px auto;
  padding: 10px 0;
  max-width: 400px;
}

img.profile-card-pic{
  float: left;
  max-width: 110px;
}

#profile-card-infobox{
  overflow: hidden;
  padding: 10px 20px;
}

h1#profile-card-name{
  margin: 6px 0;
}

h2#profile-card-subtitle{
  margin: 7px 0;
}


#centred-container{
  margin: 0 auto;
  max-width: 640px;
  min-width: 320px;
  min-height: 100%;
  padding-bottom: 180px;
}

#content{
  overflow:auto;
  padding-bottom: 20px;
}

#content p, #content .card p{
  font-size: 18px;
  text-decoration: none;
}

#content p img {
  max-width:100%;
  max-height:1500px;
}

.project{
  text-decoration: none;
}

.card{
  elementoverflow: hidden;
  padding: 10px 0 15px 0;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/
.cf {
  *zoom: 1;
}

h2.section-title{
  margin: 12px 0 18px 0;
}

h2.section-title a{
  color: inherit;
  text-decoration: none;
}

h2.section-title a:after{
  font-size: 20px;
  padding-left: 9px;
  content: ">";
  font-weight: 300;
  color: #ccc;
}


ul.tags{
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-weight: 700;
}

ul.tags li{
  margin: 1px 0;
  font-size: 14px;
}

ul.fade li a span{
  opacity: 0.7;
}

ul.horizontal{
  margin-top: 4px;
  bottom: 10px;
  position: absolute;
  width: 100%;
}

ul.horizontal li{
  float: left;
}

ul.horizontal li:not(:first-child){
  margin-left: 9px;
}

ul.tags a{
  display: block;
  padding: 4px 0px;
  text-decoration: none;
}

ul.tags li a {
  color: #111;
}

ul.tags li .has-url:hover {
  color: #4180AB;
}
ul.tags li span{
  vertical-align: middle;
}

ul.tags li .has-url span:after{
  font-size: 14px;
  padding-left: 5px;
  content: ">";
  font-weight: 400;
  color: ccc;
}


img.tag-icon{
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin: 0 4px;
  overflow: hidden;
}

.project-card{
    position: relative;
    width: calc(50% - 5px);
    float: left;
    background-color: #E4EBF0;
    padding: 14px 12px 30px 12px;
    margin: 5px 0;
    height: 140px;
}

.project-card:hover{
  border-bottom: solid #4180AB 4px;
  padding-bottom: 10px;
  transition: all .15s ease-in-out;
}

a:nth-of-type(2n+1) .project-card{
  margin-left: 0;
  margin-right: 5px;
}
a:nth-of-type(2n) .project-card{
  margin-left: 5px;
  margin-right: 0;
}

p.small{
  font-size: 13px !important;
  height: 55px;
  overflow: hidden;
}

#footer-container{
  text-transform: uppercase;
  padding: 20px 0;
  background-color: #E4EBF0;
  color: #4180AB;
  font-size: 12px;
  font-weight: bold;

  position: relative;
  margin-top: -180px; /* negative value of footer height */
  height: 180px;
}

#footer{
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
}

ul.footer-ul {
  list-style-type: none;
  padding: 0;
}

ul.footer-ul li{
  padding: 5px 0;
}

ul.footer-ul li a{
  text-decoration: none;
}

ul.footer-ul li a:hover{
  text-decoration: underline;
}

@media only screen and (max-width: 650px) {

  ul#navbar {
    padding-top: 0px;
  }

  #content, #footer {
    padding: 0 15px;
  }

  #content p, #content .card p{
    font-size: 16px;
  }

  .project-card{
    width: calc(100% - 10px);
  }


  a:nth-of-type(2n) .project-card, a:nth-of-type(2n+1) .project-card{
    margin-left: 5px;
    margin-right: 5px;
  }

}

@media only screen and (max-width: 420px) {
  #profile-card-container{
    text-align: center;
  }

  img.profile-card-pic{
    float: none;
  }

  h1#profile-card-name{
    font-size: 24px;
  }

  h2#profile-card-subtitle{
    font-size: 20px;
  }

  #content p, #content .card p{
    font-size: 14px;
  }
}

@media only screen and (max-width: 320px) {
  #footer-container{
    width: 320px;
  }
}
