* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
iframe{border:none;}
html {overflow-y: scroll}

html, body { margin: 0; padding: 0; height: 100%;}

body {
  font-family: 'Roboto', sans-serif;
  color: #333 ;
}

p.about{
  font-size: 32px !important;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 700;
  font-style: oblique;
  padding: 40px;
  margin: 10px -10px;
  background-color: #333;
  color: white;
}

.sep{
  color: #333;
  padding: 0 10px;
}

code {
  font-family: 'Roboto Mono', monospace;
  background: #eee;
  padding: 0.25em 0.4em;
  margin: 0;
  font-size: 85%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  margin-top: 2em;
}

a:visited, a:link{
  color: #333;
}

.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}

/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}

.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


ul, ol {
  line-height: 1.5;
}

a.sweep, .sweepchild{
  text-decoration: none;
  background-color: none;
}

a.sweep:hover, a.sweepparent:hover > .sweepchild, a.sweepparent:hover > * > .sweepchild {
  color: #fff;
  background-color: #333;
}


ul#navbar {
  font-family: 'Roboto mono', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  border: #333 2px solid;
  background-color: white;
  margin: 0;
  padding: 10px;
  position: absolute;
  left: 40px;
  top: 20px;
  max-width: 250px;
  box-shadow: -40px -22px cyan;
}

li.navbutton a{
  display: block;
  text-align: center;
  padding: 8px 18px;
  margin: 5px;
  float: left;
}

li.navbutton a:before, li.navbutton a:after{
  content: none;
}

li.navbutton a.current {
   padding: 8px 14px;
}

li.navbutton a.current:before {
  content: '[' !important;  
}
li.navbutton a.current:after {
  content: ']' !important; 
}

ul#navbar li#spacer {
  white-space: nowrap;
  overflow: hidden;
}

li.navbutton a{
  width: auto;
  height: auto;
}

a.download{
  display: inline-block;
  position: relative;
  margin: 5px auto;
  text-decoration: none;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Roboto Mono', sans-serif;
  border: solid #333 2px;
}

.pagenums{
  margin: 20px auto 0 auto;
  text-align: center;
}

a.pagination, .pagenum{
  text-transform: uppercase;
  display: inline-block;
  margin: 1em 0.5em;
  padding: 12px 20px;
  text-decoration: none;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 700;
  border: solid #333 2px;

}

.pagenum{
  background-color: #333;
  color:white;
}


a.caption{
  display: block;
  text-decoration: none;
  font-size: 14px;
  background-color: #333;
  padding: 5px 10px;
  text-align: right;
  color: white;
  font-family: 'Roboto Mono', sans-serif;
}
a.caption:hover{
  background-color: #ccc;
}

a.seemore{
  display: block;
  position: relative;
  width: 100px;
  margin: 10px auto;
  text-decoration: none;
  font-size: 14px;
  padding: 8px 12px;
  text-align: center;
  text-transform: uppercase;
  content: "See more";
  font-weight: 700;
  font-family: 'Roboto Mono', sans-serif;
  border: solid #333 2px;
}



#profile-card-container{
  margin: auto auto;
  max-width: 420px;
  padding: 10% 0;
}

#p5-container{
  margin: 0 auto -1 auto;
  height: 250px;
}

img.profile-card-pic{
  float: left;
  max-width: 160px;
}

#profile-card-infobox{
  overflow: hidden;
  padding: 10px 25px;
  font-family: 'Roboto Mono', sans-serif;
  text-transform: uppercase;
  color: white;
}

.profile-card-name, .profile-card-subtitle{
  font-weight: 700;
}

.profile-card-name{
  margin: 6px 0;
  font-size: 32px;
}

.profile-card-subtitle{
  margin: 7px 0;
  font-size: 24px;
}



#centred-container{
  margin: 0 auto;
  max-width: 640px;
  min-width: 320px;
  min-height: 100%;
  padding-top: 180px;
  bottom: 100px;
  padding-bottom: 150px;
}

#main{
  margin: -70px -110px;
  padding: 70px 110px;
  border: solid #333 2px;
  box-shadow: 40px 40px lightgray;
}

.inner-card {
  margin: 0 10px;
}

pre {
  min-width: 100%;
  overflow-x: auto;
  padding: 10px;
}

#content p, #content .card p{
  font-size: 18px;
  text-decoration: none;
  line-height: 1.6;
}

#content p img, #content p video {
  max-width:100%;
  max-height:1500px;
  margin: auto;
  display: block;
}

p.noimage {
  margin: auto;
  display: block;
  position: relative;
  margin: 5px auto;
  text-decoration: none;
  font-size: 14px !important;
  padding: 16px 24px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Roboto Mono', sans-serif;
}

a.post-card{
  display: block;
  text-decoration: none;
  padding: 8px 10px;
  margin: 16px -10px;
}

a.project-card{
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  display: block;
  padding-top: 40%;
  background-color: rgb(0, 255, 255);
  width: 100%;
  text-decoration: none;
  position: relative;
  margin: 20px 0;
  overflow: hidden;
}

.post{
  font-family: 'Roboto Mono', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  padding-right: 0.5em;
  height: 40px;
}

.me-banner {
  background-color: blue;
}

img.project-banner, .me-banner {
  width: calc(100% + 160px);
  max-height:600px;
  display: block;
  margin: -40px -80px 30px -80px;
}

img.project-banner + h1.title, .me-banner + h1.title {
  margin-top: 15px;
}

.project{
  display: inline-block;
  font-family: 'Roboto Mono', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding: 8px 14px;
  margin: 0px 20px;
  position: absolute;
  bottom: 17px;
}

.card{
  overflow: hidden;
  padding: 10px 0 0 0;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/
.cf {
  *zoom: 1;
}

h2 {
  margin: 25px 0 20px 0;
  padding-bottom: 6px;
  border-bottom: solid 2px #333;
}

h2 a{
  color: inherit;
  text-decoration: none;
}

p + h2 {
  padding-top: 25px;
}

/*h2.section-title a:after{
  font-size: 20px;
  padding-left: 9px;
  content: ">";
  font-weight: 300;
  color: #ccc;
}*/


ul.tags, ul.contact{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.contact li{
  margin: 8px 0;
  font-size: 16px;
  font-weight: 700;
}

ul.contact li a{
  text-decoration: none;
}

ul.tags li{
  margin: 1px 0;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.postdate {
  display: inline-block;
  font-weight: 700;
  font-family: 'Roboto Mono', sans-serif;
}

.postdate:before {
  content: '[';
}

.postdate:after {
  content: ']';
  padding-right: 0.5em;
}


h2.techused{
  font-size: 16px;
  margin: 0 0 4px 0;
  border: none;
}

.techbox{
  padding: 10px 0;
  margin: 45px 0 0 0;
}

.techbox ul li{
  float: left;
  margin-right: 9px;
}

ul.horizontal{
  overflow: hidden;
}

ul.horizontal li{
  float: left;
  margin-right: 9px;
}

ul.tags a{
  display: block;
  padding: 4px 0px;
  text-decoration: none;
}


ul.tags li span{
  vertical-align: middle;
}

img.tag-icon {
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin: 0 4px;
  overflow: hidden;
}

h1.title{
  margin: 20px 40px 40px 0;
  background-color: #333;
  color:white;
  padding: 11px 24px 12px 24px;
  line-height: 1.2;
  box-shadow: 42px 12px yellow;
}

p.small{
  font-size: 14px !important;
  overflow: hidden;
  margin: 8px 0px;
  overflow: elipsis;
}

p.summary{
  margin-top: 0;
  margin-bottom: 10px;
}

p.date{
  margin-top:0;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-size: 14px !important;
  color: #333;
  font-family: 'Roboto Mono', sans-serif;
}
p.date:before{
  content: "Posted: "
}

a.github{
  font-size: 0.9em;
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
}

a.github:hover{
text-decoration: underline;
}

.arrow:before {
  padding-right: 0.5em;
  content: "//";
}

#footer-container{
  font-family: 'Roboto mono', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-top: -100px; /* negative value of footer height */
  height: 100px;
  position: relative;
}

#footer{
  position: absolute;
  border: solid 2px #333;
  background-color: white;
  bottom: 20px;
  right: 40px;
  max-width: 280px;
  box-shadow: 40px 20px magenta;
}

ul.footer-ul {
  list-style-type: none;
  padding: 10px 18px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;

}


ul.footer-ul li{
  text-decoration: none;
  margin: 8px;
}

ul.footer-ul li a:hover{
  text-decoration: underline;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}

.pre-spaced {
  padding-left: 0.2em;
}

@media only screen and (max-width: 900px) {
  #main {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
  }
  img.project-banner, .me-banner {
    width: 100%;
    margin: 0;
  }

}

@media only screen and (max-width: 650px) {

  .mobile-padded {
    padding: 10px;
  }

  #content {
    padding: 0 5px;
  }

  #centred-container {
    padding-top: 0;
    min-height: 0;
  }


  #content p, #content .card p{
    font-size: 16px;
  }

 
  .techbox{
    margin-left: 5px;
    margin-right: 5px;
  }

  
  .mobile-centered{
    position: relative !important;
    margin-left: auto!important;
    margin-right: auto!important;
    bottom: auto!important;
    top: auto!important;
    left: auto!important;
    right: auto!important;

  }

  ul#navbar{
    position: relative;
    margin-bottom: 30px;
  }

}

@media only screen and (max-width: 420px) {
  #profile-card-container{
    text-align: center;
  }

  img.profile-card-pic{
    float: none;
    max-width: 100px;
  }

  h1#profile-card-name{
    font-size: 24px;
  }

  h2#profile-card-subtitle{
    font-size: 20px;
  }

  #content p, #content .card p{
    font-size: 14px;
  }


}

@media only screen and (max-width: 320px) {
  #footer-container, #navbar-container{
    width: 320px;
  }
}
