<div class="card">
  <h2 class="section-title">
    {% if current_page == "About"%}
      About
    {% else %}
      <a class="arrow" href="{{ url_for('about')}}">About</a>
    {% endif %}
  </h2>

  <p>
    Hi, I'm Jack, a PhD student in Leeds, UK. After completing my Master's degree
    in Mechanical Engineering, I started a PhD involving the use of virtual reality
    simulators for the training of surgeons. Below you can see posts about personal,
    academic, and work related projects I've been involved in.
  </p>
</div>
