<div class="card">
  {% if current_page == "Contact"%}
  <h1 class="title">Contact
  </h1>
  {% else %}
  <h2 class="section-title">
    <a href="{{ url_for('contact')}}" class="arrow">Contact</a>
  </h2>
  {% endif %}

    <div class="inner-card">
    <ul class="contact">

      <li title="twitter">
        <a href="http://twitter.com/jackbrookes">
          <i class="fa fa-twitter fa-fw" aria-hidden="true" style="color:#1da1f2"></i>
          @jackbrookes
        </a>
     </li>

      <li title="email">
        <a href='mailto&#58;j%62ro%6Fke%7&#51;%31%38%37&#64;gmai%6C&#46;&#99;om'>
          <i class="fa fa-envelope fa-fw" aria-hidden="true" style="color:#ffa930"></i>
          j&#98;&#114;&#111;okes187&#64;gmail&#46;&#99;om
        </a>
      </li>

      <li title="github">
        <a href="http://github.com/jackbrookes">
          <i class="fa fa-github fa-fw" aria-hidden="true" style="color:#4078c0"></i>
          jackbrookes
        </a>
      </li>

    </ul>
  </div>
</div>
