<div class="card cf">
  {% if current_page == "Posts"%}
  <h1 class="title">Posts
  </h1>
  {% else %}
  <h2 class="section-title">    
    <a class="arrow" href="{{ url_for('posts')}}">Posts</a>
  </h2>
  {% endif %}

  <div class="inner-card">
    {% for post in posts %}
      {% include 'small-post-card.html' %}
    {% endfor %}
  </div>
</div>

{% if pagenum %}
<div class="pagenums">
  {% if (pagenum - 1) > 0 %}
    <a
    href="{{ url_for('posts',  pagenum = pagenum - 1 ) }}"
    class="pagination sweep"
    ><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Prev</a>
  {% endif %}
  <span class="pagenum">
  {{ pagenum }}
  </span>
  {% if (pagenum + 1) <= maxpages %}
  <a
  href="{{ url_for('posts',  pagenum = pagenum + 1 ) }}"
  class="pagination sweep"
  >Next <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
  {% endif %}
</div>
{% endif %}

{% if front_page %}
    <a href="{{ url_for('posts')}}" class="seemore sweep">See more</a>
{% endif %}
