<div class="card cf">
  <h2 class="section-title">
    {% if current_page == "Posts"%}
      Posts
    {% else %}
      <a class="arrow" href="{{ url_for('posts')}}">Posts</a>
    {% endif %}
  </h2>


  {% for post in posts %}
    <a href="{{ url_for('post', name=post.path.replace('posts/', '')) }}">
      {% include 'small-post-card.html' %}
    </a>
  {% endfor %}
</div>

{% if pagenum %}
<div class="pagenums">
  {% if (pagenum - 1) > 0 %}
    <a
    href="{{ url_for('posts',  pagenum = pagenum - 1 ) }}"
    class="pagination"
    >Prev</a>
  {% endif %}
  <span class="pagenum">
  {{ pagenum }}
  </span>
  {% if (pagenum + 1) <= maxpages %}
  <a
  href="{{ url_for('posts',  pagenum = pagenum + 1 ) }}"
  class="pagination"
  >Next</a>
  {% endif %}
</div>
{% endif %}

{% if show_seemore %}
    <a href="{{ url_for('posts')}}" class="seemore">See more</a>
{% endif %}
