{% extends "base.html" %}


{% block title %}{{ post.title }}{% endblock %}

{% if post.meta_image is defined %}
  {% block head %}
    <meta property="og:image" content="{{ post.meta_image }}"/>
    {{ super() }}
  {% endblock %}
{% endif %}

{% block description %}{{ post.short_description }}{% endblock %}

{% block content %}
<h1 class="title">
  {{ post.title }}
</h1>

<p class="summary">
  {{ post.short_description }}
  {% if post.github_link is defined %}
    <a class="github arrow" href="{{ post.github_link }}">View on GitHub</a>
  {% endif %}
</p>

{{ post.html|safe }}


<div class="techbox cf">
  <h2 class="techused">Post tags:</h3>
  <ul class="tags">
    {% for tag in post.tags %}
      {% with name=tag  %}
        {% include 'tag.html' %}
      {% endwith %}
    {% endfor %}
  </ul>
</div>

{% endblock %}
